<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Edit User</h1>
    <form action="/songlist" method="POST">
      <label for="title">Title:</label>
      <input type="text" title="title" id="title" required />
      <label for="artist">Artist:</label>
      <input type="text" name="artist" id="artist" required />
      <label for="songUrl">URL:</label>
      <input type="text" name="songUrl" id="songUrl" required />
      <button type="submit">Add Song</button>
    </form>
  </body>
</html>
